<br><br>
<div class="row">
    <div class="col-md-6">
        <div class="quix-box custom-box">
            <div class="question-number"> Question No : 1/100<span style="float:right"> 10:50</span></div><br>
       <div class="question-text" style="text-align:justify">1) Python written in which language?</div><br>


       <div class="option-container">
         <div style="text-align: justify" id="0" class="option" >A. Java</div><br>
         <div style="text-align: justify" id="0" class="option" >B. C </div><br>
         <div style="text-align: justify" id="0" class="option" >C. PHP</div><br>
         <div style="text-align: justify" id="0" class="option" >D. None of these</div><br>

       </div><br>

       <button class="btn btn-primary">Next</button>
    
        
    
    
    </div>
    </div>
   </div>