<div class="container">
    <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1> Quiz Signup</h1>
                  <h5>Free to Signup </h5><hr>
            </div> 

          <form>
                <div class="mb-3">
                <label  class="form-label">Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                </div><br>

                   <div class="mb-3">
                    <label f class="form-label">Mobile Number:</label>&nbsp;&nbsp;
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div><br>
   

                    <div class="mb-3">
                        <label class="form-label">Email address:</label>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                        </div><br>


                <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" class="form-control" id="exampleInputPassword1" >
                </div><br><br>
              
              <button type="submit" class="btn btn-primary">signup</button>
          </form><br>

          <a routerLink="/login"> Already User ? Click to login !</a><br><br>
           
          
          <button routerLink="/quiztest">Start Quiz</button>
          
        
        
        
          </div>
          </div>
    </div>
    </div>

